<section class="login-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="login-box">
          <h1>Administrator Login</h1>

          <span *ngIf="error" class="text-danger">{{ error.message }}</span>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="text"
                name="username"
                formControlName="username"
                class="form-control"
                placeholder="Username"
              />
              <div
                *ngIf="username.invalid && (username.dirty || username.touched)"
                class="error"
              >
                <div *ngIf="username.errors">Username is Invalid</div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
              <div
                *ngIf="password.invalid && (password.dirty || password.tauched)"
                class="error"
              >
                <div *ngIf="password.errors">Password is invalid</div>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                [disabled]="!loginForm.valid"
                class="btn btn-primary"
              >
                Log In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="service-error" *ngIf="error">
      <h1>{{ error.errorTitle }}</h1>
      <h3>{{ error.errorDesc }}</h3>
    </div>
  </div>
</section>
